header{
    width: auto;
    margin: 0;
    @include flex_xy_alignment;
    flex-direction: column;
    a {
        text-decoration: none;
    }
    img{
    width: 162px;
    height: 44px;
    }

    p {
        padding-top: 2px;
    }
}
.restau_page_head {
    height: 200px;
}
.head_logo{
    padding-top: 10px;
    background-color: white;
    z-index: 1;
    height: 44px;
}
.arrow_flex {
    padding-top: 50px;;
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-solid.fa-arrow-left {
    padding-left: 20px;
    font-size: 18px;
    @include flex_xy_alignment;
}
.fa-sharp.fa-solid.fa-arrow-right {
    padding-right: 20px;
    font-size: 18px;
    color: transparent;
}
.restaurants_picture {
    width: 100vw;
    height: 200px;
    object-fit: cover;
    z-index: 0;
}
.location_bar{
    @include flex_xy_alignment;
    height: 50px;
    width: auto;
    color: $black;
    background-color: $dark_color;
        width: 100vw;

    .fa-solid.fa-location-dot{
        height: 16px;
        padding-right: 17px;
    }
}